@font-face {
    font-family: "dense";
    src: url("fonts/dense-regular-webfont.woff") format('woff');
}

* {
	padding: 0;
	margin: 0;
    font-family: dense;
}
.back-container {
	height: 100vh;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.nav-container {
	background-color: black;
	position: absolute;
	left: 50%;
	right: 0;
    width: 150px;
    height: 100%;
}

.name-container {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 2.7%;
    left: 16%;
    background-color: #fdc300;
}

#logo{
    position: absolute;
    top: 80%;
    left: 80%
}

#header {
    position: absolute;
    color: black;
    font-size: 12pt;
    top: 24%;
    left: 22%;
    line-height: 150%;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
    margin-left: -4px;
}

.nav-item {
    font-size: 10pt;
    text-decoration: none;
    color: white;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#list {
    position: absolute;
    top: 22%;
    left: 15%;
}

.right-container {
    background-color: #373737;
    position: absolute;
    height: 100%;
    width: 575.8px;
    left: 60%;
}

#msg {
    position:absolute;
    font-size: 16pt;
    color: white;
    top: 45%;
    left: 15%;
}

#skils {
    position: absolute;
    color: #4f4f4f;
    top: 56.5%;
    left: 15%;
}

#ugly {
    position: absolute;
    left: 33%;
}

.left-container {
    background-color: #373737;
    position: absolute;
    height: 100%;
    width:719.5px;
    left: 0%;
}







